<p><%= @greeting %></p>

<p>El día de hoy te encuentras en la posición <%= @pos %>. Con <%= @points %> puntos.</p>

<p><%= link_to "Resultados generales", results_url(host: "192.168.1.105:3000")  %></p>