<h1>Y quién va ganando en la polla de Excel?</h1>

<div class="well">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Num</th>
        <th>Jugador</th>
        <th>Puntos</th>
      </tr>
    </thead>
    <tbody>
      <% @results.each_with_index do |user,i| %>
        <tr class=<%= "success" if i==0%>>
          <td><%= i+1 %></td>
          <td><%= link_to "#{user.name}", user_scores_excel_path(user)  %></td>
          <td><%= user.score_sum2 %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>