<h1>Results#index</h1>
<p>Find me in app/views/results/index.html.erb</p>

<h1>Listing scores</h1>

<table>
  <thead>
    <tr>
      <th>Num</th>
      <th>Player</th>
      <th>Points</th>
    </tr>
  </thead>

  <tbody>
  	<% i=1 %>
    <% @results.each do |r| %>
      <tr>
        <td><%= i %></td>
        <td><%= User.find(r[:id]).name %></td>
        <td><%= r[:Points] %></td>
      </tr>
      	<% i+=1 %>
    <% end %>
  </tbody>
</table>