<h1>Listing scores</h1>

<div class="well">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Num</th>
        <th>Player</th>
        <th>Points</th>
      </tr>
    </thead>

    <tbody>
    	<% i=1 %>
      <% @results.each do |r| %>
        <tr class=<%= "success" if i==1%>>
          <td><%= i %></td>
          <td><%= User.find(r[:id]).name %></td>
          <td><%= r[:Points] %></td>
        </tr>
        	<% i+=1 %>
      <% end %>
    </tbody>
  </table>
</div>