<div class='row'>
  <div class='col-lg-12'>
  	<div class="well">
  	  <h2>Reglas</h2><br>

  	  <ul class="list-group">
		  <li class="list-group-item">
		    <p>Después de haber realizado el sorteo y definir las  <%= link_to "Predicciones", forecasts_path  %>, cada participante tiene una predicción para cada grupo en la primera ronda del mundial y cuatro (4) selecciones.</p>
		  </li>
		  <li class="list-group-item">
		    <p>Los puntajes en esta primera fase seran de 2 puntos si adivinan el resultado de cada partido o de 5 puntos si adivina el marcador exacto el partido.</p>
		  </li>
		  <li class="list-group-item">
		    <p>Los 4 equipos que tiene cada participante definen las posiciones de Campeón, Subcampeón, 3er lugar y 4to lugar respectivamente, la mecánica de la puntuación es la siguiente en caso de que el equipo adivinado quede en el mismo lugar:</p>
		    <ul>
		      <li>Campeon = 15 puntos</li>
		      <li>Subcampeon = 12 puntos</li>
		      <li>Tercero = 10 puntos</li>
		      <li>Cuarto = 8 puntos</li>
		    </ul>
		   	<p class="text-warning">Nota: En caso de que se adivine el equipo en uno de los 4 primeros lugares pero no se adivine el orden, se suman 5 puntos por cada equipo adivinado en desorden. Ejemplo: Si tiene a Colombia de segundo, pero queda de tercero sumará 5 puntos.</p>
		  </li>
		  <li class="list-group-item">
		    <p class="text-success">Premiación:</p><p> Se entregaran premios para el primer puesto del 60% del valor total recogido, 30% para el segundo puesto y 10% para el tercer puesto.</p>
		    <ul>
		      <li>Total recogido: $1'050.000</li>
		      <li>60%: 630.000</li>
		      <li>30%: 315.000</li>
		      <li>10%: 105.000</li>
		    </ul>
		  </li>
		  <li class="list-group-item">
			<p>Solo participa personal de TLM y una sola polla por persona.</p>
		  </li>
	  </ul>
  	</div>
  </div>
</div>  
